<h2>Opwekking Verkeer Planner</h2>
<h3>{{ currentday }}</h3>
        <p class="text-muted">Geëxporteerd door {{ request.user }} op {% load i18n %}{% language 'nl' %} {% now 'l d M H:i' %}{% endlanguage %}</p>
<style>
    #planner_list td {
        vertical-align: middle;
    }
    td.cutoverflow {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 20px;
    }

    td.rowheader {
        width: 1%;
    white-space: nowrap;
    }

</style>

<table id="planner_list" class="table cell-border w-100">

{{ html|safe }}
</table>
