{% extends "central/base.html" %}
{% block tab4_active %}active{% endblock tab4_active %}
{% block content %}

<!--<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">-->
<!--        <h1 class="h2">Planning</h1>-->
<!--        <div class="btn-toolbar mb-2 mb-md-0">-->
<!--          <div class="btn-group me-2">-->
<!--            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>-->
<!--            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>-->
<!--          </div>-->
<!--          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
<!--            <span data-feather="calendar"></span>-->
<!--            This week-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->

<div id='thisone' class="row d-flex justify-content-center">
    <div class="col-xl-12 col-12">
         <div class="card">
            <h5 class="card-header">Planner</h5>
            <div class="card-body">
                <div class="btn-group">

            {% for day in alldays %}
                <a href="{% url 'planner' day.dayname %}" class="btn btn-outline-secondary {% if currentday == day.dayname %}active{% endif %}">{{ day.dayname }}</a>
            {% endfor %}
            </div>

                <div class="float-end mb-2">
                    <ul class="list-group list-group-horizontal no-border">
                                        <li class="list-group-item border-0">
                                            <svg width="3em" height="1em">
                                                <rect rx="5" ry="20" width="3em" height="1em" style="stroke: #2e6da4; fill: #337ab7;"></rect>
                                            </svg> Ingepland
                                        </li>
                                        <li class="list-group-item border-0">
                                            <svg width="3em" height="1em">
                                                <rect rx="5" ry="20" width="3em" height="1em" style="stroke: #da9b4e; fill: #da9b4e;"></rect>
                                            </svg> Planning
                                        </li>
                                        <li class="list-group-item border-0">
                                            <svg width="3em" height="1em">
                                                <rect rx="5" ry="20" width="3em" height="1em" style="stroke: #5cb85c; fill: #5cb85c;"></rect>
                                            </svg> Momenteel op post
                                        </li>
                                        <li class="list-group-item border-0">
                                            <svg width="3em" height="1em">
                                                <rect rx="5" ry="20" width="3em" height="1em" style="stroke: #74a9d8; fill: #74a9d8;"></rect>
                                            </svg> Bevestiging nodig op post
                                        </li>
                                        <li class="list-group-item border-0">
                                            <svg width="3em" height="1em">
                                                <rect rx="5" ry="20" width="3em" height="1em" style="stroke: #587793; fill: #587793;"></rect>
                                            </svg> Post verlaten
                                        </li>
                                    </ul>
                    </div>



    </div> <!-- col-12 -->
     <div class="col-xl-12 col-12 mb-2 px-2">
         <div class="float-start">
             <a class="btn btn-info" style='background-color: #337ab7; border-color: #337ab7;' hx-get="{% url 'occupation-add' %}?dayname={{ currentday }}" hx-target="#dialoghtmx"><i class="fas fa-plus"></i> Toevoegen</a>
             <a class="btn btn-warning" style='background-color: #da9b4e; border-color: #da9b4e;' hx-get="{% url 'planner-add' %}?dayname={{ currentday }}" hx-target="#dialoghtmx"><i class="fas fa-plus"></i> Lege planning</a>
         </div>
         <div class="float-end">
             <a  class="btn btn-secondary" hx-get="{% url 'planner-shiftchange' nextshift_dayname nextshift_timename %}" hx-target="#dialoghtmx_lg"><i class="fas fa-exchange-alt"></i> Shift wissel</a>
             <a  class="btn btn-secondary" href="{% url 'planner-print' currentday 'print' %}" target="_blank"><i class="fas fa-download"></i> Exporteren</a>
         </div>
     </div>
    <div class="col-12 overflow-auto">

    <style>
         td, tr {
            border: 0.5px solid #e6e6e6 ;
            border-collapse: collapse;
        }

         .loader {
          border: 15px solid #f3f3f3; /* Light grey */
          border-top: 15px solid #333; /* Blue */
          border-radius: 50%;
          width: 80px;
          height: 80px;
          animation: spin 2s linear infinite;
          text-align: center;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
}
    </style>

        <div hx-get="{% url 'planner-table' currentday %}" hx-trigger="load, every 60s, planningUpdated from:body"><div class="loader"></div></div>



            </div> <!-- card-body -->
        </div> <!-- class="card" -->
    </div> <!-- class="col" -->
</div> <!-- class="row" -->


{% endblock content %}


{% block tablescript %}
{# Code block for javascript table #}

<script>
    $(document).ready(function () {
        $('#planner_list').DataTable({
            paging: false,
            ordering: false,
            filter: true,
            info: false,
            "language": {
                "zeroRecords": "Geen resultaten",
                "infoEmpty": "Geen data",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "search": "Zoeken:",
            }
        });
    });
</script>

{% endblock tablescript %}