{% extends "central/base.html" %}
{% load static %}
{% block tab1_active %}
active
{% endblock tab1_active %}

{% block content %}
{% load central_customfilters %}


<style>
     /* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
  filter: opacity(80%);
}

/* Style the button and place it in the middle of the container/image */
.container .btn_extra {
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 3px 6px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.4); /* offset-x | offset-y | blur-radius | spread-radius | color */
  }

.container .btn:hover {
  background-color: black;
}


</style>


<div class="row mt-4">
    <div class="col-lg-3">
        <div class="card mb-4">


                <div id="postinfo">
                   <h5 class="card-header">Post info</h5>
                    <div class="card-body">
                  <i>Geen post geselecteerd.</i>
                        </div>

              </div>

                {% if current_post %} <!-- make sure initial load is done if current_post is in url-->
                    <div hx-get="{% url 'post-info' current_post.postslug %}" hx-trigger="load" hx-target="#postinfo"></div>
                {% endif %}


        </div>  <!-- class="card" -->
        <div class="card">



              <div id="postocc">
                   <h5 class="card-header">Post bezetting</h5>
                    <div class="card-body">
                  <i>Geen post geselecteerd.</i>
                        </div>

              </div>



        </div>  <!-- class="card" -->
    </div> <!-- class="col-lg-3" -->
    <div class="col-lg-9">
        <div class="card p-0">
            <h5 class="card-header">Postenkaart</h5>
            <div class="card-body m-0 p-0">
                <div class="container">
                    <img src="{% static 'central/postmap_1.jpg' %}" class="w-100" alt="postmap">

                    <div hx-get="{% url 'post-map' %}" hx-trigger="load, every 30s">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalhtmx" -->
    <!-- hx-target defines where to inject je content (modal dialog) -->
<button type="button" hx-get="{% url 'planning-add' %}" hx-target="#dialoghtmx"  class="btn btn-primary">Add planning</button>

<!-- Button trigger modal -->
<!--<button hx-get="{% url 'planning-modify' 1 %}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">-->
<!--  Launch demo modal DEMO-->
<!--</button>-->


<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalhtmx">-->
<!--  BOOTSTRAP EXAMPLE-->
<!--</button>-->





{% endblock content %}

{% block modal %}

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div id="txtHint"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sluiten</button>
    <a href="#" id="modal_approve_btn" class="modal-btn2 btn"></a> <!-- value and class added via js on base.html -->
</div>



{% endblock modal %}