{% load crispy_forms_tags %}
{% block content %}

<form hx-post="{{ request.path }}">
    {% csrf_token %}
    <div class="modal-header">
        Porto {{ plan.porto.number }} afmelden
    </div>
    <div class="modal-body">
        Weet je zeker dat je porto {{ plan.porto.number }} wil afmelden van {{ plan.user }}?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sluiten</button>
        <button class="btn btn-danger" type="submit">Afmelden</button>
    </div>
</form>



{% endblock content %}

