{% load static %}

<h5 class="card-header">Bezetting post {{ current_post.postslug }}
    <div class="float-end"  data-bs-toggle="tooltip" data-bs-placement="top" title="Toevoegen aan post">
        <i class="fas fa-plus" style="cursor: pointer" hx-get="{% url 'planning-add' current_post.pk %}" hx-target="#dialoghtmx"></i>
    </div>

 </h5>
            <div class="card-body">
<div hx-get="{% url 'post-occupation' current_post.postslug %}" hx-trigger="every 30s">


{% for occ, occ_color in current_occupation %}
                <div class="card mb-3 border-{{ occ_color.0 }}">
                    <div class="card-header h6 bg-{{ occ_color.0 }} text-{{ occ_color.1 }}">{{ occ.user.first_name }} {{ occ.user.last_name }}

                        {% if occ.confirmed %}
                            <div class="float-end"  data-bs-toggle="tooltip" data-bs-placement="top" title="Verwijderen van post">
                                <i class="fas fa-trash" style="cursor: pointer" hx-get="{% url 'planning-remove' occ.pk %}" hx-target="#dialoghtmx"></i>
                             </div>
                        {% else %}

                            <div class="float-end" data-bs-toggle="tooltip" data-bs-placement="top" title="Bevestigen op post">
                                <i class="fas fa-check" style="cursor: pointer" hx-get="{% url 'planning-approve' occ.pk %}" hx-target="#dialoghtmx"></i>
                            </div>

                        {% endif %}
                            <div class="float-end mx-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Aanpassen">
                                <i class="fas fa-edit" style="cursor: pointer" hx-get="{% url 'planning-modify' occ.pk %}" hx-target="#dialoghtmx"></i>
                            </div>


                    </div> <!-- card-header -->

                    <div class="card-body">

                    <style>
                        .image{
                            position:relative;
                            overflow:hidden;
                            padding-bottom:100%;
                        }
                        .image img{
                            position:absolute;
                        }
                    </style>

                        <div class="row">
                            <div class="col-4">
                                <div class="img-thumbnail">
                                    <div class="image">
                                        {% if occ.user.image %}
                                            <img src="{{ occ.user.image.url }}" class="w-100 rounded" />
                                        {% else %}
                                            <img src="{% static 'central/default.png' %}" class="w-100 rounded" />
                                        {% endif %}
                                    </div>
                                </div>
                                <a hx-get="{% url 'user-detail' occ.user.pk %}" hx-target="#dialoghtmx" class="btn badge bg-secondary btn-sm mt-2 w-100"><i class="fas fa-info"></i> Persoon</a>
                            </div>
                            <div class="col-8 px-0">
                                <b>{{ occ.user.first_name }} {{ occ.user.last_name }}</b><br>

                                {% if occ.user.phonenumber %}
                                    {{ occ.user.phonenumber|nonetounknown|safe }}<br>
                                {% endif %}
                                {% if occ.user.description %}
                                <div class="text-muted small" style="margin-left:1em; margin-right:0.5em;">{{ occ.user.description|linebreaks }}</div>
                                {% endif %}
                                <hr class="my-1">
                                {{ occ.starttime|date:"G:i" }} - {{ occ.endtime|date:"G:i" }}
                            </div>
                        </div>


                    </div>
                </div>
    {% empty %}
    <i>Post is onbezet.</i>
                {% endfor %}

    </div>

            </div>
