{% block content %}

<div class="modal-header">
    <h5 class="modal-title">{{ object.first_name }} {{ object.last_name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

</div>

<div class="modal-body">
    <table class="table">
        <tbody>

            {% if object.image.name != "default.jpg" %}
                <tr>
                    <th scope="row"></th>
                    <td><img class="rounded mr-0 w-100" src="{{ object.image.url }}"> </td>
                </tr>
            {% endif %}
            <tr>
                <th scope="row">ID</th>
                <td>{{ object.pk }}</td>
            </tr>
            <tr>
                <th scope="row">Voornaam</th>
                <td>{{ object.first_name }}</td>
            </tr>
            <tr>
                <th scope="row">Achternaam</th>
                <td>{{ object.last_name }}</td>
            </tr>
            <tr>
                <th scope="row">Gebruikersnaam</th>
                <td>{{ object.username }}</td>
            </tr>
            <tr>
                <th scope="row">Geboortedatum</th>
                <td>{{ object.dateofbirth|nonetounknown|safe }}</td>
            </tr>
            <tr>
                <th scope="row">Telefoonnummer</th>
                <td>{{ object.phonenumber|nonetounknown|safe }}</td>
            </tr>
            <tr>
                <th scope="row">Verkeersregelaar</th>
                <td>{{ object.verkeersregelaar|FancyTrueFalse|safe }}</td>
            </tr>
            <tr>
                <th scope="row">Centralist</th>
                <td>{{ object.centralist|FancyTrueFalse|safe }}</td>
            </tr>
            <tr>
                <th scope="row">Toegevoegd op</th>
                <td>{{ object.date_created|date:'d-m-Y H:i'  }}</td>
            </tr>
            <tr>
                <th scope="row">Omschrijving</th>
                <td>{{ object.description }}</td>
            </tr>

        </tbody>
    </table>
</div>

<div class="modal-footer">
<!--    url 'user-update' object.pk-->
    <button class="btn btn-primary" type="submit"><i class="fas fa-cog"></i> Bewerken</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sluiten</button>
</div>



{% endblock content %}




{% block tablescript %}
{# Code block for javascript table #}

{% endblock tablescript %}