{% block content %}

<div class="modal-header">
    <h5 class="modal-title">{{ object.first_name }} {{ object.last_name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

</div>

<div class="modal-body">
    <table class="table">
        <tbody>

            {% if object.image %}
                <tr>
                    <th scope="row"></th>
                    <td><img class="rounded mr-0 w-100 img-thumbnail" src="{{ object.image.url }}"> </td>
                </tr>
            {% endif %}
            <tr>
                <th scope="row">ID</th>
                <td>{{ object.pk }}</td>
            </tr>
            <tr>
                <th scope="row">Voornaam</th>
                <td>{{ object.first_name }}</td>
            </tr>
            <tr>
                <th scope="row">Achternaam</th>
                <td>{{ object.last_name }}</td>
            </tr>
            <tr>
                <th scope="row">Gebruikersnaam</th>
                <td>{{ object.username }}</td>
            </tr>
            <tr>
                <th scope="row">Geboortedatum</th>
                <td>{{ object.dateofbirth|nonetounknown|safe }}</td>
            </tr>
            <tr>
                <th scope="row">Telefoonnummer</th>
                <td>{{ object.phonenumber|nonetounknown|safe }}</td>
            </tr>
            <tr>
                <th scope="row">Specialismen</th>
                <td>
                    {% for specialism in object.specialism.all %}
                        <span class="badge {{ specialism.colorcode }}">
                            {% if specialism.icon %}<i class="{{ specialism.icon }}"></i>{% endif %} {{ specialism }}
                        </span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">Toegevoegd op</th>
                <td>{{ object.date_created|date:'d-m-Y H:i'  }}</td>
            </tr>
            <tr>
                <th scope="row">Omschrijving</th>
                <td>{{ object.description|nonetounknown|safe }}</td>
            </tr>
            <tr>
                <th scope="row">Persoonlijke planning</th>
                <td>
                    {% for plan in planning %}
                        {{ plan.date|date:'d-m-Y' }} {{ plan.starttime|date:'H:i' }} - {{ plan.endtime|date:'H:i' }} - Post {{ plan.post }}<br>
                    {% endfor %}


                </td>
            </tr>

        </tbody>
    </table>
</div>

<div class="modal-footer">
<!--    url 'user-update' object.pk-->
    <a hx-get="{% url 'user-update' object.pk %}" hx-target="#dialoghtmx" class="btn btn-primary"><i class="fas fa-cog"></i> Bewerken</a>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sluiten</button>
</div>



{% endblock content %}




{% block tablescript %}
{# Code block for javascript table #}

{% endblock tablescript %}